<h1>WELCOME to Rock, Paper, Scissors GAME</h1>

  <p>Type in the address bar /localhost:4567/game/ and then 'rock / paper / scissors' as your option.
    </br>Player 1 type first and Player 2 type second:</br>
    ie. localhost:4567/game/rock/scissors
  </p>
